curl -X POST -H 'Accept: application/vnd.github+json' -H 'Authorization: Bearer "{{ PAT }}"' https://api.github.com/orgs/everis-technology/repos -d '{"name":"{{ repo_name }}","description":"{{ description }}","private":"{{ is_private }}"}'"